body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

* {
    box-sizing: border-box;
}

.mr-10 {
    margin-right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
