.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #000;
  background: #fff;
  top: 80px;
  right: 0;
  z-index: 5;

  &__items {
    height: 240px;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__button {
    margin-top: auto;
  }

  &__message {
    font-size: 18px;
    margin: 50px auto;
    text-transform: uppercase;
  }
}
