.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__logo {

    &-container {
      height: 100%;
      width: 70px;
      padding: 25px 25px 25px 0;
      display: flex;
      align-items: center;
    }
  }

  &__options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  &__option {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  @media screen and (max-width: 400px) {
    &__options {
      width: 80%;
    }

    &__option {
      padding: 10px;
    }
  }
}
